
.home-btn-group {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.home-btn {
  display inline-block;
  color: #1890ff;
  min-width: 200px; 
  border-radius: 9999px;
  border: 1px solid #1890ff;
  margin-right: 10px;
  padding: 12px 12px;
  font-weight: 700;
  font-size: 20px;
  background: #ffffff;
  cursor pointer;

  &:hover {
    color: #ffffff;
    background: #9ac6e8;
  }
}

.home-btn-primary {
  color: #ffffff;
  background: #1890ff;
}