
.home-btn-group {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.home-btn {
  display inline-block;
  color: #1890ff;
  min-width: 120px; 
  border-radius: 9999px;
  border: 1px solid #1890ff;
  margin: 10px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  background: #ffffff;
  cursor pointer;
  text-decoration none

  &:hover {
    color: #1890ff;
    background: #cfeaf782;
    text-decoration: none !important;
  }
}

.home-btn-primary {
  color: #ffffff;
  background: #1890ff;
}

// .search-box {
//   display: none;
// }